/**
  * @name MomoTalk (Dark Mode)
  * @author yumemiya
  * @version 1.0
  * @description A theme based on the MomoTalk app from the Blue Archive Game! Now in Dark Mode!
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
*/

@import url('https://miyakukage.github.io/discord-momotalk/MomotalkSource.theme.css');



/* Change Colors Here!!!! */
:root {
	--background-primary: #222533;
	
	--momotalkbanner: #E56072;
	
	--senseimessagebubble: #4A8AC8;
	--messagebubble: #4C5B6F;
	
	--text-link: #CCD3FF;
	
	--messagefontcolor: #FFFFFF;
	
	--username: #8A8EAD;
	
	--sidebar: #505C72;
	
	--topbar: #191B33;
	
	--searchbars: #303C51;

	--callcolor: #505C72;
	--callimage: url('your image url here.png');

	--callbuttons: #303C51;
	--hangup: #FB90A4;
	
	--bgimage: url('your image url here.png');

	--settingsfontcolor: #FFFFFF;
	
	--background-mentioned: #210317;
	
	--background-mentioned-hover: #210011;
	
}